#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# High Risk System
########################################
#
#    high_risk_system.Enable
#        Description: Enable/Disable high risk systems
#        Default:     0 - Disabled
#                     1 - Enabled
#

high_risk_system.Enable = 0
